*{
    align-items: center;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    background-image: url("imgg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-position-x: center;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    background-position-y:top;
    overflow-y: scroll;
    text-align: justify;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 6px black;
    color: rgb(203, 13, 156);
}
h5{
    text-align: center;
    font-size: xx-large;
    color: chocolate;
    padding: 0px 3px 8px 5px;
}
p{
    text-align:center;

    color: white;
    font-size: larger;
    font-weight: 300;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
}
h3{
    color: cornsilk;
}
.ul{
    text-align: center;
    align-items: center;
    display: grid;
    margin-left: 90px;
}

.ul,li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
margin-left: 100px;
margin-top: 40px;
margin-right: 100px;
cursor: pointer;
text-align:center;
font-size: large;
text-transform: uppercase;
font-family:'Times New Roman', Times, serif;
color: rgb(198, 198, 22);
}
img{
    border-radius: 60px;
    border: 2.5px solid white;
    transform: 0.2s easein;
    transform-style: preserve-3d;
    
}
.picture:hover{
transform: rotateY(180deg);
opacity: 1;
}
.foot{
    color: #faebd7;
    text-transform: uppercase;
margin-bottom: -30PX;
}
footer{
    background-color: black;
    padding-top: 8px;
    margin-top: 40px;

}
.mb{
    text-align:center;
    color: rgb(224, 17, 96);
    margin-left:19px;
    margin-bottom: 20PX;
}
.last{
    color:rgb(203, 13, 156);
    padding-top: 26px;
}

@media  screen and (max-width: 1000px) {
    .ul li{
        margin-left: 100px;
        text-align: center;
    }
}


